name: Auto PR from feature branches
on:
  push:
    branches:
      - 'feat/**'
jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: main
          head: ${{ github.head_ref }}
          title: ${{ github.head_ref }} - Auto PR
          body: |
            This PR was automatically created to merge changes from the feature branch into main.
            Branch: ${{ github.head_ref }}
